{% extends "layout.html" %}
{% block body %}
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">Question</h2>
    Question: {{ qtext }}

    <div class = "descriptives">
    <h2 class="subtitle">Descriptives</h2>
        {{ descrip|safe }}
    </div>

    <div class = "value counts">
    <h2 class="subtitle">Value Counts</h2>
        {{ value_counts|safe }}
    </div>

    <div class ="card">
    <img class="card-img-top" src="{{ chart }}" alt="Count Plot {{ title }}">
        <div class="card-img-overlay">
            <h2 class="card-title display-5">Chart</h2>
        </div>
    </div>

{% endblock %}